body {
    width: 480px;
    margin: 50px auto;
}
/* .clear{
    clear: both;
} */
header {
    height: 75px;
    text-align: center;
    line-height: 75px;
    background-color: #D8D8D8;
    outline:1px solid darkgrey;
}

aside{
    height: 150px;
    text-align: center;
    line-height: 150px;
    background-color: #D8D8D8;
    outline:1px solid darkgrey;
}
section{
    height: 125px;
    text-align: center;
    line-height: 125px;
    background-color: #D8D8D8;
    outline:1px solid darkgrey;
}
article{
    width: 50%;
    height: 250px;
    text-align: center;
    line-height: 250px;
    background-color: #D8D8D8;
    outline:1px solid darkgrey;
    float: left;
}
footer{
    clear: both;
    height: 80px;
    text-align: center;
    line-height: 80px;
    background-color: #D8D8D8;
    outline:1px solid darkgrey;
}

@media (min-width: 768px){
    body{
        width: 960px;
    }
    aside {
        float: left;
        width: 200px;
        height: 600px;
    }
    section{
        float: left;
        width: 380px;
        height: 200px;
    }
    article{
        float: left;
        width: 190px;
        height: 250px;
    }
    footer{
        clear: none;
        float: left;
        width: 760px;
        height: 150px;
    }
}